.env
./node_modules
node_modules
debug.ts
./contracts_
./test
credentials.json
drritanyCredentials.json
.dockerignore
docker-compose.yaml
Dockerfile
./Dockerfile
/Dockerfile
/doc
doc
./doc
dist/
/dist
./dist