<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Successful Newsletter Subscription</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <style type="text/css">
      @import url('https://fonts.googleapis.com/css?family=Inter');

      html {
        padding: 0px;
        overflow-x: hidden;
        /* border: 2px solid yellow; */
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        font-family: 'Inter';
      }

      body {
        /* align-items: center; */
        position: absolute;
        /* border: 2px solid blue; */
        width: 95%;
        height: 95%;
      }

      main {
        /* align-items: center; */
        position: relative;
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 95%;
        height: 100%;
        padding: 1% 2.5%;
      }

      .logo {
        position: relative;
        border: 2px solid blue;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
        width: 95%;
        height: 7%;
        margin-bottom: 20px;
        top: 5%;
      }

      .logo img {
        position: relative;
        object-fit: contain;
        /* border: 2px solid blue; */
        width: 7%;
        height: 60%;
      }

      .message {
        border: 2px solid red;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5%;
        height: 30%;
        top: 20%;
        font-size: 16px;
        line-height: 22px;
      }

      #body {
        border: 2px solid blue;
        position: relative;
        display: flex;
        flex-direction: column;
      }

    /* This is for mobile */
    @media (min-width: 550px) and (max-width: 1024px) {
      .logo img {
        width: 15%;
      }
    }

      /* This is for mobile */
      @media (min-width: 0px) and (max-width: 550px) {

        .logo {
          margin-bottom: 0px;
        }

        .logo img {
            /* border: 1px solid red; */
            width: 25%;
        }

        .brief {
          font-size: 18px;
          flex-direction: column;
        }

        .message {
          font-size: 16px;
          height: 40%;
        }

        #body {
          top: 5%;
        }
      }

      /* This is for mobile */
      @media (min-width: 0px) and (max-width: 300px) {

        .message {
          font-size: 16px;
          height: 50%;
        }

        #body {
          top: 5%;
        }
      }
    </style>
  </head>

  <body>
    <main>
      <header class="logo">
        <img 
            src="https://drive.google.com/uc?export=download&id=1RbUo9BSAyxfNmzVV_dzjC7E4nT9ZtbnV"
            alt="test"
        />
      </header>
      <div class="message">
        <span id="body">
          Hey,
        <br />
        <br />
            Thank you for subscribing to our newsletter! We are delighted to have you on board. Rest assured, you will be the first to receive updates whenever a new product is listed. Stay tuned for exciting news and offers! 
        <br />
        <br />
        Best regards, <br />
        Dr Ritany Customer Care
        </span>
      </div>
    </main>
    <script>
      
    </script>
  </body>
</html>